body {
    font-family: 'Arial', sans-serif;
    margin-top: 150px;
    margin-bottom: 50px;
}

.text-center{
    margin: 30px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
}