* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
}

.container {
    background-color: #87a9dc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    background-image: url(/PHOTO/tooth.png);
    background-position: center center; 
    background-repeat: no-repeat;  
    background-size: cover;
    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
}
    
#position-select{
    margin: 5px ;
    margin-bottom: 10px;
}
    