body {
    font-family: Arial, sans-serif;
    padding-top: 120px;
}

main {
    padding: 50px 20px;
}

table {
    width: 50%;
    margin: 60px auto;
    background-color: #fff;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: beige;
}

